@model AssertLancamentoResultadoLoteViewModel

@{ 
    Layout = null;
}

<p>@Smc.GetUIResource("Assert_DesfazerLancamentoLote")</p>
@Smc.DisplayFor(m => m.Candidatos).HideLabel(SMCDisplayHideLabel.All)