@model SMC.Formularios.UI.Mvc.Models.IDadoFormulario

@using SMC.Formularios.UI.Mvc
@using SMC.Framework.Security

<div id="formulario">
    @Smc.SGF(SMC.Formularios.Common.Areas.FRM.Enums.FormaExibicaoSecao.Nenhum, true, true)
</div>
