<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{CACHE_URL}" pattern="^(https?)://" />
          </conditions>
          <action type="Rewrite" url="{C:1}://localhost:5202/Dev/GPI.Inscricao/App/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <clear />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <caching enabled="false" enableKernelCache="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WindowsAuthentication" />
      <remove name="UrlRoutingModule-4.0" />
      <remove name="UrlMappingsModule" />
      <remove name="UrlAuthorization" />
      <remove name="Session" />
      <remove name="ScriptModule-4.0" />
      <remove name="RoleManager" />
      <remove name="Profile" />
      <remove name="OutputCache" />
      <remove name="FormsAuthentication" />
      <remove name="FileAuthorization" />
      <remove name="DefaultAuthentication" />
      <remove name="AnonymousIdentification" />
    </modules>
  </system.webServer>
  <system.web>
    <globalization culture="pt-br" uiCulture="pt-br" />
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <clear />
      </assemblies>
    </compilation>
    <httpModules>
      <remove name="WSFederationAuthenticationModule"/>
      <remove name="SessionAuthenticationModule"/>
    </httpModules>
  </system.web>
</configuration>
