// BUTTONSET DA ÁREA DE CADASTRO
.smc-gpi-linha-botoes {
    border-top: 1px solid var(--color-primary-3);
}

div.smc-upload {
    div.smc-uploadFile-contextWindowControls {
        div.dropdown {
            button.dropdown-toggle {
                background: var(--color-secondary-4);
            }
        }
    }
}

.smc-btn-principal,
#formConfiguracao > .smc-buttonset-horizontal-primario .smc-btn-salvar,
#formConfiguracao #divConteudoPrincipal > .smc-buttonset-horizontal-primario .smc-btn-salvar,
#formularioAlterarSenha > .smc-buttonset-horizontal-primario .smc-btn-salvar,
#formularioAlterarSenha #divConteudoPrincipal > .smc-buttonset-horizontal-primario .smc-btn-salvar,
.smc-wizard-barra-acoes .smc-btn-custom.smc-btn-principal,
.smc-wizard-barra-acoes .smc-btn-custom.smc-btn-confirmar-icotext-destaque,
.smc-wizard-barra-acoes .smc-btn-custom.smc-btn-proximo-icotext-destaque,
.smc-wizard-barra-acoes .smc-btn-proximo-icotext-destaque,
.smc-btn-confirmar-icotext-destaque {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

div.smc-button > [disabled] {
    background-color: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;
}

.smc-detalhe-editavel-botao-inserir {
    color: var(--color-text);
}

.smc-orderpick-btn-up,
.smc-orderpick-btn-down {
    color: var(--color-primary-2) !important;
}

app-root {
    p-button {
        button.smc-btn-secundario.smc-gpi-navegacao,
        button.smc-btn-fechar-icotext.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-gpi-navegacao,
        button.smc-btn-anterior-icotext.smc-gpi-navegacao,
        button.smc-btn-yes.smc-gpi-navegacao,
        button.smc-btn-no.smc-gpi-navegacao,
        button.smc-btn-custom-secundario {
            background-color: var(--white) !important;
            color: var(--color-primary-2) !important;
            border: 1px solid var(--color-primary-2) !important;

            &:hover {
                border: 1px solid var(--color-primary-2) !important;
                background-color: var(--color-primary-2) !important;
                color: var(--white) !important;

                > span {
                    color: var(--white);
                }
            }

            > span {
                color: var(--color-primary-2);
            }
        }

        > button.voltar {
            &:before {
                color: var(--color-primary-2);
            }

            &:hover {
                &:before {
                    color: var(--white);
                }
            }
        }

        button.smc-btn-principal.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-custom.smc-btn-principal.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-custom.smc-btn-confirmar-icotext-destaque.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-custom.smc-btn-proximo-icotext-destaque.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-proximo-icotext-destaque.smc-gpi-navegacao,
        button.smc-btn-confirmar-icotext-destaque.smc-gpi-navegacao,
        button.smc-btn-custom {
            color: var(--white) !important;
            background-color: var(--color-primary) !important;
            border: 1px solid var(--color-primary) !important;

            &:hover {
                border: 1px solid var(--color-primary) !important;
                background-color: var(--white) !important;
                color: var(--color-primary) !important;

                > span {
                    color: var(--color-primary);
                }
            }

            > span {
                color: var(--white);
            }
        }

        .smc-btn-principal.smc-btn-sm {
            background-color: var(--color-primary) !important;
            border: 1px solid var(--color-primary) !important;

            &:hover {
                background-color: var(--white) !important;
                color: var(--color-primary) !important;
            }
        }
    }
}