<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net471" />
  <package id="Dapper.StrongName" version="2.0.30" targetFramework="net471" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net471" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.900.148" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="MiniProfiler" version="4.1.0" targetFramework="net471" />
  <package id="MiniProfiler.EF6" version="4.1.0" targetFramework="net471" />
  <package id="MiniProfiler.Mvc5" version="4.1.0" targetFramework="net471" />
  <package id="MiniProfiler.Providers.SqlServer" version="4.1.0" targetFramework="net471" />
  <package id="MiniProfiler.Shared" version="4.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net471" />
  <package id="SMC.Framework.Core" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.DataAnnotations" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Domain" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Entity" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Json" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Model" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Repository" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Rest" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Security" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Service" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Specification" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.UI.Mvc" version="4.2.251021.1" targetFramework="net471" />
  <package id="SMC.Framework.Unity" version="4.2.251008.1" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Unity" version="5.8.13" targetFramework="net471" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net471" />
  <package id="Unity.Container" version="5.8.13" targetFramework="net471" />
  <package id="Unity.Interception" version="5.5.6" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
</packages>