<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <!-- Segurança para SMCAuthorize -->
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" address="net.pipe://localhost/Seguranca/v4/PerfilService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.PER.Interfaces.IPerfilService" />
      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" />
      <!-- Endpoint para Monitoramento -->
      <endpoint address="net.msmq://localhost/private/smc.seguranca.navegacao" binding="netMsmqBinding" contract="SMC.Framework.Service.Messaging.ISMCMessageQueueService" name="SMC.Seguranca.Monitoramento" />
      <!-- Serviço de Notificação-->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" />
      <!-- Serviço de Infraestrutura-->
      <endpoint name="SMC.Framework.OpenXml.ISMCWorkbookService" address="net.pipe://localhost/Office/v4/OpenXMLService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.OpenXml.ISMCWorkbookService" />
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" address="net.pipe://localhost/Infraestrutura/v4/PdfService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" />
      <!-- Serviço de Formulários-->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" />
		<endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" />
	
	</client>
  </system.serviceModel>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')" />
    </assemblyBinding>
  </runtime>
</configuration>