// FOOTER
.smc-footer {
    background-color: var(--white);
    padding: 0.5em 3.92em 0.5em 3.92em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.smc-footer-logo-gti {
    width: 5em;
    background-image: url('../Images/smc-logo-gti-cinza.svg');
    height: 1.1em;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.smc-footer-copyright {
    margin: 0 0 0 0.21em;
    color: var(--grey);
    font-size: 0.8rem;

    p {
        color: var(--grey);
        margin-top: 0;
        font-size: 0.8em;
    }
}

.smc-footer-conteudo {
    color: var(--grey);
    font-size: 0.7rem;
    margin-right:0.2rem;
}