

.swiper-wrapper {
    width: 800px !important;
}

.smc-gpi-ingresso-slider {
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--border-default);
    padding: 1rem 2rem;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
    background-color: var(--white);
    column-gap: 2rem;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        row-gap: 2rem;
        padding: 2rem;
    }

    .smc-qrcode {

        > div {
            padding-top: 5px;

            canvas {
                width: 200px;
                height: 200px;

                @media screen and (max-width: 992px) {
                    width: 320px;
                    height: 320px;
                }
            }
        }
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primary-2) !important;
}

.swiper {
    width: 100%;
    display: flex;
}

//@import "carousel/swiper-bundle.min.css";
