<footer class="smc-footer">
    <div class="smc-footer-logo-gti" title="@Smc.GetUIResource("Layout_Titulo_Logotipo_GTI")"></div>
    <div class="smc-footer-copyright" title="@Smc.GetUIResource("Layout_Legenda_Copyright")">
        &copy; @DateTime.Now.Year        
    </div>
</footer>
