.smc-ribbon {
    background: var(--color-header);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(212,212,212,0.4);
    -moz-box-shadow: 0px 1px 5px 0px rgba(212,212,212,0.4);
    box-shadow: 0px 1px 5px 0px rgba(212,212,212,0.4);
    z-index: 1;
    position: relative;
}


.smc-aplicaco-logotipo {
    width: 21em;
    margin-top: -0.15em;
    background-image: url('../../AulaoRedacao/Images/smc-logo-aulao.svg'),url('../../AulaoRedacao/Images/smc-logo-puc.svg');
    height: 5.24em;

    &::before {
        content: "";
        width: 1px;
        height: 80%;
        background-color: var(--white);
        margin-left: 200px;
        margin-top: 8px;
    }

    @media screen and (max-width: 410px) {
        margin-left: 0%;
        background-position: 0% 0px, 100% 0px;

        &:before {
            margin-left: 70%;
        }
    }
}


.smc-gpi-usuario {
    &:before {
        background-color: var(--grey);
    }

    .smc-gpi-nome-usuario {
        color: var(--grey);
    }

    .smc-btn-usuario,
    .smc-btn-meudados,
    .smc-btn-acessibilidade {
        &:before {
            color: var(--grey);
        }
    }

    .smc-ico-meusdados {
        div:before {
            color: var(--grey);
        }


        @media screen and (max-width: 410px) {

            div {
                margin-right: 0;
            }
        }
    }
}

.smc-gpi-usuario:before {
    display:none;
}

.dropdown-menu {
    background-color:var(--color-body) !important;
}
