@import "Componentes/smc-flex-helpers";
@import "Componentes/buttons";
@import "Componentes/form";
@import "Componentes/grid";
@import "Componentes/header";
@import "Componentes/message";

@font-face {
    font-family: 'heebo.light';
    src: url('../Fonts/heebo.light.ttf') format('truetype');
}

@font-face {
    font-family: 'fa-solid-900';
    src: url('../Fonts/fa-solid-900.ttf') format('truetype');
}


:root {
    --font-size-default: 14px;
    --color-text: #333333;
    --color-label: #4b4b4b;
    --color-text-reading: #000000;
    --color-text-secondary: #a7a7a7;
    --color-body: #f5f5f5;
    --color-primary: #015459;
    --color-hover: #047a81;
    --color-primary-2: #5c7f81;
    --color-primary-3: #02494d;
    --color-secondary: #008000;
    --color-secondary-2: #d58468;
    --color-secondary-3: #18def0;
    --color-font-h3: #12848e;
    --color-font-paths: #12848e;
    --color-detail-h3: #7bb3b8;
    --color-font-h4: #7e989a;
    --color-detail-h4: #bbc5c6;
    --color-error: #b02614;
    --white: #ffffff;
    --black: #000000;
    --grey: #777777;
    --border-default: #dfdfdf;
    --border-button: #afafaf;
    --border-button-secondary: #5c7f81;
    --background-button-secondary: #e9e9e9;
    --text-button-secondary: #5c7f81;
    --body-fonts: "heebo.light";
    --message-alert-icon: #dcc39b;
    --input-border-color: #dbdbdb;
    --progress-bar-color: #9e9e9e;
    --progress-value-color: #13ed41;
    --progress-empty-color-h: 4.1;
    --progress-empty-color-s: 89.6;
    --progress-empty-color-l: 58.4;
    --progress-filled-color-h: 122.4;
    --progress-filled-color-s: 39.4;
    --progress-filled-color-l: 49.2;
    --bg-msg-boas-vindas: #E6F1F2;
    --border-msg-boas-vindas: #82CBCF;
    --color-msg-boas-vindas: #015459;
    --color-btn-secondary: #015459;
}


// GERAL
::selection {
    background: var(--color-secondary-3);
    color: var(--white);
    text-shadow: none;
}

input:-internal-autofill-selected {
    background-color: #fff !important;
}

body, p, span, a, li, button, input, select, textarea, font, label, h1, h2, h3, h4 {
    font-family: var(--body-fonts);
}

body, p, span, label, li, a, td, button, input, select, textarea, font {
    font-size: 1em;
    color: var(--color-text);
}

body {
    background-color: var(--color-body);
    margin: 0;
    font-size: var(--font-size-default);
}

h1 {
    font-size: 2em;
    //  margin-top: 2.85em;
    text-transform: uppercase;
    margin-bottom: 0;
    color: var(--color-primary);
}

h2 {
    font-size: 1.7em;
    color: var(--color-primary);
}

h3 {
    font-size: 1.2em;
    color: var(--color-font-h3);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-font-h3);
    padding-bottom: 0.35em;
    //    margin-top: 2.14em;

    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 5px;
        border-color: transparent transparent transparent var(--color-detail-h3);
        margin: 2.14em 0.71em 0 0;
    }
}

h4 {
    font-size: 1.1em;
    color: var(--color-font-h4);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-detail-h4);
    padding-bottom: 0.35em;
    margin-top: 1.42em;

    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 5px;
        border-color: transparent transparent transparent var(--color-detail-h4);
        margin: 0.14em 0.71em 0 0;
    }
}

a {
    color: var(--color-primary);
    text-decoration: underline;
    font-style: italic;
    padding: 0 0.35em;
    background-color: transparent;
}

div[data-type="smc-textbox"] {
    label {
        font-size: 1em !important;
    }
}

input, select, .smc-select > select, input[type="text"], input[type="password"] {
    border: 1px solid var(--input-border-color) !important;
    padding: 0.57em 0.64em !important;
    height: 3.5em !important;
}

input[type="text"], input[type="password"] {
    width: 100% !important;

    &:focus {
        border: 1px solid #6bbeef !important;
        background-color: #f0f6fd !important;
    }
}

////// CONTEÚDO
.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
    border-bottom: none !important;
    height: 100%;
    position: relative;
    width: 100%;
    gap: unset;
    // margin-bottom: 4rem;

    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 0 40px 12px;
        border-color: transparent transparent transparent var(--color-primary);
        position: fixed;
        left: 32.9%;
        top: 2em;
        webkit-filter: drop-shadow(3px 2px 2px rgba(0,0,0,.3));
        filter: drop-shadow(3px 2px 2px rgba(0,0,0,.3));

        @media screen and ("max-width: 767px") {
            display: none;
        }
    }
}

.smc-login-body {
    &:before {
        content: "";
        background-color: var(--color-primary);
        background-image: url('../Images/smc-logo-gpi-adm.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: center 9em;
        background-size: 11em;
        position: fixed;
        width: 33%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.38);
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.38);

        @media screen and ("max-width: 767px") {
            width: 100%;
            height: 6em;
            background-position: 50% .5em;
            background-size: 6em;
            position: absolute;
        }
    }
}

#SMCColunaEstrutural1, #SMCColunaEstrutural2 {
    display: none;
}

// Mensagem de boas vindas
div.smc-login-msg-boas-vindas {
    margin-top: 3rem;
    width: 90%;

    @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0 5% !important;
        margin: 0;
        margin-bottom: 3rem;
    }

    div.smc-login-informacoes {
        padding: 15px;
        font-size: .97em;
        color: var(--color-msg-boas-vindas);
        border: 1px solid var(--border-msg-boas-vindas);
        background: var(--bg-msg-boas-vindas);

        p, li, span, a, font {
            font-size: .97em;
            color: var(--color-msg-boas-vindas);
        }

        &:before {
            color: var(--color-msg-boas-vindas);
        }
    }
}

.smc-login-section {
    margin-left: 10%;
    width: 45%;
    display: block;

    @media screen and (max-width: 767px) {
        margin-top: 6em;
        margin-left: 0;
        width: 100%;
    }

    #fieldsetFormularioRedefinirSenha {
        padding-top: 3rem;

        .smc-form-ver-senha {
            right: 20px;
            bottom: 43px;
            float: right;
        }
    }

    #fieldsetFormularioAlterarSenha {
        .smc-form-ver-senha {
            right: 20px;
            bottom: 43px;
            float: right;
        }
    }

    #fieldsetFormularioLogin {
        .smc-form-ver-senha[data-id="name=Senha"] {
            right: 20px;
            bottom: 43px;
            float: right;
        }
    }

    div {
        padding: 0 5px;
    }

    .smc-orientacao-senha {
        padding: 20px !important;
    }

    .smc-form-ver-senha {
        bottom: -38px;

        i {
            position: absolute;
        }
    }

    .smc-form-ver-senha[data-id="name=ConfirmarSenha"] {
        right: 20px;
        bottom: 38px;
        float: right;
    }

    fieldset input[type=text],
    fieldset input[type=password] {
        margin-bottom: 10px !important;
    }

    .smc-ico-datepicker {
        padding-left: 0;
        padding-right: 0;
    }

    .smc-captcha {
        padding: 0;
        margin-left: -10px;
    }

    .smc-login-btn-acao-principal {
        padding: 0;
    }


    h1, h2, legend {
        display: none;
    }

    fieldset {
        border: none !important;
        background-color: transparent;
        margin: 0;

        input[type="text"] {
            margin-bottom: 1em;
        }
    }

    #SMCLoginContentAutenticacaoEstrutura1 {
        display: none;
    }
}

fieldset.smc-login-agrupador-acesso {
    margin-top: 20px !important;
}

fieldset.smc-login-agrupador-acesso,
fieldset.smc-login-agrupador-cadastro {
    border-top: 1px solid #e3e3e3 !important;
    margin: 15px 0;

    legend {
        display: inline-block !important;
    }

    > div {
        padding: 0;
    }

    .smc-button {
        a, button {
            background: #fff !important;
            color: var(--color-btn-secondary) !important;
            border: 1px solid var(--color-btn-secondary) !important;

            @media screen and (max-width: 991px) {
                padding-top: 0.8em;
                font-size: .9em;
            }
        }

        .smc-login-btn-m365 {
            &:before {
                font-family: "Font Awesome 6 Brands";
                content: "\f3ca";
                font-weight: 400;
                margin-right: 10px;
            }
        }
    }
}

#SMCLoginContentAutenticacao {
    padding: 0;
    width: 90%;

    @media screen and ("max-width: 767px") {
        width: 100%;
        //padding: 0 15%;
    }
}
//tela login
#formularioLogin {
    @media screen and ("max-width: 767px") {
        width: 100%;
        padding: 0 5%;
    }

    label {
        font-size: 1em !important;
    }

    &:before {
        content: "ACESSE SUA CONTA";
        font-size: 1.25em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 600;
        margin-top: 5rem !important;
        display: flex;
        margin-bottom: 2rem;

        @media screen and ("max-width: 767px") {
            margin-top: 0 !important;
        }
    }
}

.smc-preenchimento-obrigatorio {
    color: var(--color-secondary-3) !important;
    font-size: 0.5em !important;
    top: -3px;
    position: relative;
}

.smc-login-lembrar-senha {
    display: flex;
    flex-direction: row;
    align-content: flex-end;

    a {
        border: none;
        background-color: transparent;
        color: var(--color-primary);
        padding: 0;

        &:hover {
            color: var(--color-hover);
            border: none;
            background-color: transparent;
            text-decoration: underline;
        }
    }

    .smc-button {
        flex-direction: row-reverse;
    }
}

@mixin basebotoes {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.2em;
    padding: 0.3em 0 0.1em 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    height: 5rem !important;
}

.smc-login-btn-acao-principal {
    .smc-btn-enviar-icotext-destaque {
        @include basebotoes;
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        width: 100%;
        font-style: normal;

        @media screen and (max-width: 991px) {
            font-size: 1.3rem;
        }

        &:hover, &:focus {
            border: 1px solid var(--color-secondary);
            background-color: var(--white);
            color: var(--color-secondary);
        }

        i {
            display: none;
        }
    }
}

.smc-btn-cadastrar {
    @include basebotoes;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    width: 100%;
    font-style: normal;
    margin-top: 0;
    padding: 0.7em 0 0.1em 0;

    @media screen and (max-width: 991px) {
        padding-top: 1.2em !important;
    }

    &:hover, &:focus {
        border: 1px solid var(--color-primary);
        background-color: var(--white);
        color: var(--color-primary);
    }
}

/////FOOTER
.footer {
    background-color: var(--white);
    padding: 1.42em 3.92em 0.85em 3.92em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //  margin-top: 7em;
    flex-direction: row-reverse;
    width: 100%;
    //  position: absolute;
    bottom: 0;
}

.smc-login-footer-conteudo {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    align-items: end;
}

.smc-login-footer-logo-gti {
    width: 5em;
    background-image: url('../Images/smc-logo-gti-cinza.svg');
    height: 2.14em;
    background-repeat: no-repeat;
    background-position: right center;
}

.smc-login-footer-copyright {
    margin: 0 0 0 0.21em;
    color: var(--grey);
    font-size: 0.8rem;

    p {
        color: var(--grey);
        margin-top: 0;
        font-size: 0.8em;
    }
}
//TELA REDEFINIR SENHA
.smc-radiobutton-list-horizontal {
    .smc-radiobutton-list-itens {
        display: flex;
        flex-direction: column;
    }
}


#SMCLoginFormAutentication {
    @media screen and ("max-width: 767px") {
        width: 100%;
        padding: 0 15%;
    }
}

#formularioLembrarSenha {

    @media screen and ("max-width: 767px") {
        width: 100%;
        padding: 0 15%;
    }

    &:before {
        content: "REDEFINA SUA SENHA";
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 600;
        margin-top: 5rem !important;
        display: flex;
        margin-bottom: 2rem;

        @media screen and ("max-width: 767px") {
            margin-left: 0;
        }
    }

    .smc-btn-voltar-icotext {
        position: absolute;
        margin-top: 24em;
    }

    #Emails {
        .smc-detalhe-editavel-header label {
            font-size: 1em !important;
        }

        .smc-size-md-18.smc-size-xs-24.smc-size-sm-24.smc-size-lg-18 {
            @extend .smc-col-9;
        }

        .smc-size-md-6.smc-size-xs-24.smc-size-sm-8.smc-size-lg-6 {
            @extend .smc-col-3;
        }

        .smc-detalhe-editavel-estrutura {
            display: none;
        }
    }
}

.smc-btn-voltar-icotext {
    position: absolute;
    margin-top: 7em;
    right: -25px;
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    padding: 0;

    i {
        display: none;
    }

    @media screen and ("max-width: 767px") {
        right: 37px;
    }

    &:hover {
        color: var(--color-hover);
        border: none;
        background-color: transparent;
        text-decoration: underline !important;
    }
}

#SMCLoginRow {
    // height: 100%;
    position: relative;
}

#formularioCadastrarUsuario {
    padding-top: 3rem;

    &:before {
        content: "FAÇA O SEU CADASTRO";
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 600;
        margin-top: 5rem !important;
        display: flex;
        margin-bottom: 2rem;

        @media screen and ("max-width: 767px") {
            margin-left: 0;
        }
    }
}

.smc-login-conteudo {
    .smc-message-container.smc-mensagens-principal {
        flex: none;
        width: 33%;
    }
}

div[data-control="hidden"] {
    display: none !important;
}

.smc-detalhe-editavel-estrutura {
    display: none;
}

.smc-display > label {
    font-weight: normal;
    color: var(--color-text);
}

.smc-login-btn-acao-secundaria-usuarioderede {
    @include basebotoes;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    width: 100%;
    font-style: normal;
    line-height: 2.2em;

    &:hover, &:focus {
        border: 1px solid var(--color-secondary);
        background-color: var(--white);
        color: var(--color-secondary);
    }

    i {
        display: none;
    }
}

.smc-login-texto-reenvio-senha {
    margin-top: 40px;

    &:before {
        content: "REDEFINIÇÃO DE SENHA";
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 600;
        margin-top: 5rem !important;
        display: flex;
        margin-bottom: 2rem;

        @media screen and ("max-width: 767px") {
            margin-left: 0;
        }
    }

    .smc-display-collection {
        p {
            color: var(--color-primary);
            margin: 10px 0;
        }
    }
}

.smc-login-instrucao {
    margin-top: 30px;
    margin-bottom: 15px;
}

.smc-login-fieldset-lembrar-senha {
    .smc-checkbox-list > label, .smc-radiobutton-list > label {
        font-size: 1em !important;
    }
}

#recuperaSenhaFieldset {
    margin-top: 40px;

    &:before {
        content: "RECUPERE SUA SENHA";
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 600;
        margin-top: 5rem !important;
        display: flex;
        margin-bottom: 2rem;

        @media screen and ("max-width: 767px") {
            margin-left: 0;
        }
    }
}

.smc-message-error > div.ui-draggable .smc-modal-header > .smc-button {
    position: absolute;
    left: 90% !important;
    top: -8px !important;
}

.smc-alterarsenha {
    margin-top: 40px;

    &:before {
        content: "CADASTRE SUA NOVA SENHA";
        font-size: 1.25em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 600;
        margin-top: 5rem !important;
        display: flex;
        margin-bottom: 2rem;

        @media screen and ("max-width: 767px") {
            margin-left: 0;
        }
    }

    .smc-botao-login-trocasenha {
        width: 100%;
        display: flex;
    }

    .smc-btn-salvar-icotext-destaque {
        @include basebotoes;
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        width: 100%;
        font-style: normal;
        line-height: 2.2em;

        &:hover, &:focus {
            border: 1px solid var(--color-secondary);
            background-color: var(--white);
            color: var(--color-secondary);
        }

        i {
            display: none;
        }
    }
}


.smc-login-lista-itens {
    .smc-detalhe-editavel-linha-dados {

        div {
            padding: 0 !important;
        }
    }
}

form#recuperaSenhaForm {
    @media screen and ("max-width: 767px") {
        width: 100%;
        padding: 0 15%;
    }
}

//-------------

//alterar senha
div#SMCLoginContentAlteraSenha {
    width: 100%;

    @media screen and ("max-width: 767px") {
        padding: 0 7%;
    }
}

div#SMCLoginContentAlteraSenha1,
div#SMCLoginContentAlteraSenha2 {
    width: 0;
    padding: 0;
}

//redefinir senha
#fieldsetFormularioRedefinirSenha {

    @media screen and ("max-width: 767px") {
        padding: 0 7%; 
    }

    &:before {
        content: "Preencha os campos abaixo para Redefinir sua senha.";
        font-size: 1.25em;
        text-transform: uppercase;
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 600;
        margin-top: 5rem !important;
        display: flex;
        margin-bottom: 2rem;
    }

    & > div > div > button.smc-btn-salvar-icotext.smc-btn-login-destaque {

        @include basebotoes;
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        width: 100%;
        font-style: normal;
        line-height: 2.2em;

        &:hover, &:focus {
            border: 1px solid var(--color-secondary);
            background-color: var(--white);
            color: var(--color-secondary);
        }

        i {
            display: none;
        }
    }
}

.welcome-message {
    margin-top: 4em;
    font-size: 1.5em;
}