@import "Componentes/buttons";
@import "Componentes/form";
@import "Componentes/header";
@import "Componentes/wizard";

:root {
    --color-text: #333333;
    --color-label: #4b4b4b;
    --color-text-reading: #000000;
    --color-text-secondary: #a7a7a7;
    --color-body: #f5f5f5;
    --color-primary: #005480;
    --color-primary-dark:#002a4b;
    --color-hover: #35789a;
    --color-primary-2: #2e526f;
    --color-primary-3: #123c5d;
    --color-secondary: #539e41;
    --color-secondary-2: #7f9baa;
    --color-secondary-3: #84c4e6;
    --color-font-h3: #6c99b0;
    --color-font-paths: #35789a;
    --color-detail-h3: #cad9e0;
    --color-font-h4: #6c99b0;
    --color-detail-h4: #cad9e0;
    --color-error: #b02614;
    --color-alert: #ff7a08;
    --white: #ffffff;
    --black: #000000;
    --grey: #777777;
    --border-default: #dfdfdf;
    --border-button: #afafaf;
    --border-button-secondary: #2e526f;
    --background-button-secondary: #f5f5f5;
    --text-button-secondary: #5c7f81;
    --message-alert-icon: #dcc39b;
    --input-border-color: #dbdbdb;
    --progress-bar-color: #9e9e9e;
    --progress-value-color: #13ed41;
}

.smc-gpi-painel-lateral {
    h2 {
        color: var(--white);
        font-weight: 100;
    }
}

.smc-gpi-data-fim {
    background-color: var(--color-hover);
}

.smc-gpi-pendencia {
    color: var(--white);

    &:before {
        border-color: transparent transparent transparent var(--color-secondary-3);
    }
}

.smc-gpi-lista-oferta {
    p {
        color: var(--white);

        &:before {
            border-color: transparent transparent transparent var(--color-secondary-3);
        }
    }
}

//TELAS INTERNAS DO PROCESSO
.smc-gpi-nome-grupooferta {
    color: var(--color-secondary-3);
}

.smc-gpi-processo-passo-atual {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--white), var(--white),"\f101");
}

.smc-gpi-processo-passo-concluido {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--white), var(--white),"\f00c");
}

.smc-barra-progresso {
    p, span {
        color: #84c4e6;
    }
}

// INSCRIÇÕES NÃO INICIADAS
.smc-gpi-lista-vazia {
    color: var(--color-detail-h4);
}

// SELEÇÃO SEM OFERTA
.smc-gpi-oferta-vazio {
    .oferta-vazio-path {
        fill: var(--color-primary-3);
    }
}

.smc-gpi-img-sem-itens {
    background-image: url(../Images/smc-gpi-sem-itens.png);
}

p-accordion.smc-gpi-orientacoes {
    .p-accordionheader,
    .p-accordionheader,
    .p-accordioncontent,
    .p-accordioncontent-content {
        background: #e5ebf0 !important;
    }
}