@model TipoProcessoFiltroViewModel

@using (Smc.Form("formPesquisaTipoProcesso", "ListarTipoProcesso").Ajax("#divGridTipoProcesso").Begin())
{
    using (Smc.Fieldset("fieldsetPesquisaTipoProcesso").CssClass("smc-fieldset-filter").Begin())
    {
        @Smc.EditorFor(prop => prop.SeqTipoProcesso).Focus()
        @Smc.EditorFor(prop => prop.Descricao)

        @(Smc.ButtonSet()
            .AddButton(Smc.Button(SMCButtonBehavior.Pesquisar).DisplayMode(SMCButtonDisplayMode.TextAndIcon).Highlight())
            .AddButton(Smc.Button(SMCButtonBehavior.LimparEnviar).DisplayMode(SMCButtonDisplayMode.Icon))
            .AddButton(Smc.Button(SMCButtonBehavior.Novo)
                 .DisplayMode(SMCButtonDisplayMode.TextAndIcon)
                 .Type(SMCButtonType.Link)
                 .SecurityToken(UC_INS_001_09_02.MANTER_TIPO_PROCESSO)
                 .Url(Url.Action("Incluir")))
        )
    }
}

<div id="divGridTipoProcesso">
    @Html.Action("ListarTipoProcesso")
</div>
