<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <smc.rest xdt:Transform="Replace">
    <apis>
      <api name="Reports" url="http://gtiwebhom02/Inscricoes.ReportHost/v4/INS/api/Report" />
    </apis>
  </smc.rest>
  
  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes"/>
  </system.web>
 
</configuration>