<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">

  <appSettings>
    <!--PARAMETROS FINANCEIROS-->
    <add key="BaseUrlRest" value="http://localhost:8801/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>

      <netNamedPipeBinding>
        <binding name="SMCNetPipeLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netNamedPipeBinding>

      <netTcpBinding>
        <binding name="SMCNetTcpLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>

      <netMsmqBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netMsmqBinding>

    </bindings>

    <client>

      <!-- Endpoint para SMCAuthorize -->      
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" />
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" />

      <!-- Segurança para Monitoramento -->
      <endpoint address="net.msmq://localhost/private/smc.seguranca.navegacao" binding="netMsmqBinding" contract="SMC.Framework.Service.Messaging.ISMCMessageQueueService" name="SMC.Seguranca.Monitoramento" />

      <!-- Endpoint para Localidades -->
      <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" />

      <!-- Endpoint para EstruturaOrganizacional -->
      <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" />

      <!-- Serviço para Filtro de dados (SEGURANCA) -->      
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" />

      <!-- Endpoint para DadosMestes -->
      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" address="net.pipe://localhost/DadosMestres/v4/TipoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" />
   
		<!-- Endpoint para DadosMestes -->
		<endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" address="net.pipe://localhost/DadosMestres/v4/ContextoBibliotecaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" />
		<!-- Endpoint para DadosMestes -->
		<endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IHierarquiaClassificacaoService" address="net.pipe://localhost/DadosMestres/v4/HierarquiaClassificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IHierarquiaClassificacaoService" />
		
      <!-- Endpoint para Formulários -->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IElementoService" address="net.pipe://localhost/Formularios/v4/ElementoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IElementoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/Formularios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" />     
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" address="net.pipe://localhost/Formularios/v4/PaginaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TipoTemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" />

      <!-- Endpoint para Financeiro -->
      <endpoint name="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" address="net.pipe://localhost/Financeiro/v4/IntegracaoFinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" />
      <endpoint name="SMC.Financeiro.Service.FIN.IFinanceiroService" address="net.pipe://localhost/Financeiro/v4/FinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.Service.FIN.IFinanceiroService" />

      <!-- Endpoint para Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" />

      <!-- Serviço para geração de PDF -->
      <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" address="net.pipe://localhost/Infraestrutura/v4/PdfService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" />
      <endpoint name="SMC.Framework.OpenXml.ISMCWorkbookService" address="net.pipe://localhost/Office/v4/OpenXMLService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.OpenXml.ISMCWorkbookService" />

      <endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" />
      <!-- Endpoint para IntegracaoAcademico -->
      <endpoint name="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" address="net.pipe://localhost/IntegracaoAcademico/v4/IntegracaoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" />

      <!-- Endpoint para pessoa -->
      <endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" address="net.pipe://localhost/Pessoas/v4/PessoaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" />

      <!-- Endpoint para AssinaturaDigital -->
      <endpoint name="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" address="net.pipe://localhost/AssinaturaDigital/v4/SistemaOrigemService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.AssinaturaDigital.ServiceContract.Areas.CAD.Interfaces.ISistemaOrigemService" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.IO.Compression')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(asmv1:assemblyIdentity/@name='System.Net.Http.Formatting')" />
    </assemblyBinding>
  </runtime>
</configuration>