// BUTTONSET DA ÁREA DE CADASTRO
.smc-gpi-linha-botoes {
    border-top: 1px solid var(--color-primary-3);
}

div.smc-upload {
    div.smc-uploadFile-contextWindowControls {
        div.dropdown {
            button.dropdown-toggle {
                background: var(--color-secondary-4);
            }
        }
    }
}

app-root {
    p-button {
        button.smc-btn-secundario.smc-gpi-navegacao,
        button.smc-btn-fechar-icotext.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-gpi-navegacao,
        button.smc-btn-anterior-icotext.smc-gpi-navegacao,
        button.smc-btn-yes.smc-gpi-navegacao,
        button.smc-btn-no.smc-gpi-navegacao,
        button.smc-btn-custom-secundario {
            background-color: var(--white) !important;
            color: var(--color-secondary) !important;
            border: 1px solid var(--color-secondary) !important;

            &:hover {
                border: 1px solid var(--color-secondary) !important;
                background-color: var(--color-secondary) !important;
                color: var(--white) !important;

                > span {
                    color: var(--white);
                }
            }

            > span {
                color: var(--color-secondary);
            }
        }

        > button.voltar {
            &:before {
                color: var(--color-secondary);
            }

            &:hover {
                &:before {
                    color: var(--white);
                }
            }
        }

        button.smc-btn-principal.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-custom.smc-btn-principal.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-custom.smc-btn-confirmar-icotext-destaque.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-custom.smc-btn-proximo-icotext-destaque.smc-gpi-navegacao,
        button.smc-wizard-barra-acoes.smc-btn-proximo-icotext-destaque.smc-gpi-navegacao,
        button.smc-btn-confirmar-icotext-destaque.smc-gpi-navegacao,
        button.smc-btn-custom {
            color: var(--white) !important;
            background-color: var(--color-secondary) !important;
            border: 1px solid var(--color-secondary) !important;

            &:hover {
                border: 1px solid var(--color-secondary) !important;
                background-color: var(--white) !important;
                color: var(--color-secondary) !important;

                > span {
                    color: var(--color-secondary);
                }
            }

            > span {
                color: var(--white);
            }
        }

        .smc-btn-principal.smc-btn-sm {
            background-color: var(--color-secondary) !important;
            border: 1px solid var(--color-secondary) !important;

            &:hover {
                background-color: var(--white) !important;
                color: var(--color-secondary) !important;
            }
        }
    }
}