//
.smc-info-card {
    background: var(--white);
    padding: 1em 2em;
    border: 1px solid var(--color-primary);
    margin: 3em 1em;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;


    & > .icon-container {
        background: var(--color-detail-h3);
        width: 12em;
        height: 5em;
    }
}