@import "Componentes/buttons";
@import "Componentes/form";
@import "Componentes/header";
@import "Componentes/wizard";
@import "Componentes/footer.scss";

:root {
    --color-text: #000000;
    --color-label: #4b4b4b;
    --color-text-reading: #000000;
    --color-text-secondary: #a7a7a7;
    --color-body: #ffffff;
    --color-header: #ffe9d6;
    --color-footer: #fff6e4;
    --color-primary: #282254;
    --color-primary-dark: #282254;
    --color-hover: #8e86cd;
    --color-primary-2: #282254;
    --color-primary-3: #8e86cd;
    --color-primary-4: #f3e9de;
    --color-secondary: #282254;
    --color-secondary-2: #817991;
    --color-secondary-3: #fff6e4;
    --color-secondary-4: #e16c19;
    --color-secondary-5: #3e86c1;
    --color-font-h3: #000000;
    --color-font-paths: #2c438e;
    --color-detail-h3: #ff6c00;
    --color-font-h4: #000000;
    --color-detail-h4: #dbdbdb;
    --color-error: #c7311d;
    --color-alert: #ff6c00;
    --white: #ffffff;
    --black: #000000;
    --grey: #7c7d7d;
    --light-grey: #f7f7f7;
    --light-grey-1: #fdfdfd;
    --border-default: #dfdfdf;
    --border-button: #afafaf;
    --border-button-secondary: #282254;
    --background-button-secondary: #ffffff;
    --text-button-secondary: #3e86c1;
    --message-alert-icon: #eab81c;
    --input-border-color: #dbdbdb;
    --progress-bar-color: #ffffff;
    --progress-value-color: #0b9e77;
    --instrucoes-preenchimento-bg: #fbe7bb;
}

h1 {
    color: var(--color-text);
}

h3,
h4,
.smc-gpi-conteudo-sgf fieldset legend,
.smc-gpi-tela-confirmacao fieldset legend {
    &:before {
        border-color: transparent transparent transparent var(--color-secondary-4);
    }
}

h3, h4,
.smc-gpi-tela-confirmacao fieldset legend,
.smc-gpi-tela-confirmacao fieldset legend {
    border-bottom: 1px solid var(--input-border-color) !important;
}

.smc-gpi-linha-botoes {
    border-top: 1px solid var(--input-border-color);
}

.smc-preenchimento-obrigatorio {
    color: var(--color-primary-2) !important;
}

.smc-instrucoes-preenchimento-container {
    .smc-instrucoes-preenchimento-icone {
        color: var(--color-primary) !important;
        position: relative!important;

        &:before {
            border: 1px solid var(--color-primary);
        }
    }
}

.smc-detalhe-editavel-titulo {
    &:before {
        border-color: transparent transparent transparent var(--color-secondary-4);
    }
}

.smc-instrucoes-preenchimento-janela-conteudo {
    background-color: var(--white);
    border-color: var(--color-primary-2);
}




.smc-gpi-lista-home-processo {
    p, span, font-face, li {
        font-size: 1em !important;
        color: var(--color-text) !important;
        font-family: var(--body-fonts) !important;
    }
}

.smc-gpi-data {
    border: 1px solid var(--border-default);
}

.smc-gpi-painel-lateral {
    background: var(--color-primary-4);
    box-shadow: none;

    h2 {
        color: var(--color-text);
        font-weight: 600;

        &:before {
            filter: none;
            box-shadow: none;
        }
    }
}

.smc-gpi-data-inicio {
    background-color: var(--color-primary-4);

    p {
        color: var(--color-text);
    }

    &:before {
        border-color: transparent transparent transparent var(--color-primary-4);
        webkit-filter: drop-shadow(4px 0px 2px rgba(0,0,0,0.09));
        filter: drop-shadow(4px 0px 2px rgba(0,0,0,0.09));
    }
}

.smc-gpi-data-fim {
    background-color: var(--color-secondary-3);

    p {
        color: var(--color-text);
    }
}

.smc-gpi-pendencia {
    color: var(--color-text);
    font-weight: 600;

    &:before {
        border-color: transparent transparent transparent var(--color-alert);
    }
}

.smc-gpi-lista-oferta {
    p {
        color: var(--color-text);
        font-weight: 600;

        &:before {
            border-color: transparent transparent transparent var(--color-font-paths);
        }
    }
}
//TELAS INTERNAS DO PROCESSO
.smc-gpi-nome-grupooferta {
    color: var(--color-primary-2);
    font-weight: 600;
}

.smc-gpi-processo-passo-atual {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--color-font-paths), var(--white),"\f101");
}

.smc-gpi-processo-passo-concluido {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--color-font-paths), var(--white),"\f00c");
}

.smc-barra-progresso {
    p, span {
        color: var(--color-text);
        font-weight: 600;
    }
}
// INSCRIÇÕES NÃO INICIADAS
.smc-gpi-lista-vazia {
    color: var(--color-text);

    &:before {
        border-color: transparent transparent transparent var(--color-secondary-4);
    }
}

.smc-gpi-processo-passo-comalerta a {
    color: var(--color-alert);
}

.smc-gpi-convertido-pdfa {
    background-color: var(--color-secondary);
}

.smc-gpi-ingressos-menu {
    .smc-list-item + .smc-list-item {
        display: none;
    }

    .smc-gpi-ingresso-informacao {
        display: none;
    }

    .smc-button + .smc-button {
        display: none;
    }
}

.smc-ingresso-descricao-nivel {
    > p,
    p + p {
        color: var(--color-text) !important;
    }
}

.smc-gpi-box-conteudo-formulario {
    flex: none;
}


//ACESSIBILIDADE
.smc-acessibilidade-contraste {
    .smc-gpi-lista-home-processo p,
    .smc-gpi-lista-home-processo span,
    .smc-gpi-processo-passo-atual span,
    .smc-gpi-processo-passo-concluido a {
        color: var(--white) !important;
    }

    .smc-gpi-lista-inscricoes-mensagem {
        background-color: var(--black);
    }

    .smc-ico-meusdados {
        > .smc-button {
            > .smc-btn-meudados {
                background-color: transparent !important;
                border: none !important;
            }
        }
    }

    .smc-gpi-processo-passo-emaberto:before {
        background-color: var(--black) !important;
    }
}

// SELEÇÃO SEM OFERTA
.smc-gpi-oferta-vazio {
    .oferta-vazio-path {
        fill: var(--color-primary-3);
    }
}

.smc-gpi-img-sem-itens {
    background-image: url(../Images/smc-gpi-sem-itens.png);
}

///seleção texto em página
::-moz-selection {
    color: #d5742d !important;
}

::selection {
    color: #d5742d !important;
}