<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.30" targetFramework="net471" />
  <package id="Dapper.StrongName" version="2.0.30" targetFramework="net471" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net471" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net471" developmentDependency="true" />
  <package id="MiniProfiler" version="4.1.0" targetFramework="net471" />
  <package id="MiniProfiler.EF6" version="4.1.0" targetFramework="net471" />
  <package id="MiniProfiler.Providers.SqlServer" version="4.1.0" targetFramework="net471" />
  <package id="MiniProfiler.Shared" version="4.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="SMC.DadosMestres.Common" version="4.2.250513.2" targetFramework="net471" />
  <package id="SMC.Framework.Core" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Entity" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Model" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Repository" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Specification" version="4.2.251008.1" targetFramework="net471" />
  <package id="SMC.Framework.Unity" version="4.2.251008.1" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net471" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Unity" version="5.8.13" targetFramework="net471" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net471" />
  <package id="Unity.Container" version="5.8.13" targetFramework="net471" />
  <package id="Unity.Interception" version="5.5.3" targetFramework="net471" />
</packages>