@import "Componentes/buttons";
@import "Componentes/form";
@import "Componentes/header";
@import "Componentes/wizard";

:root {
    --color-text: #333333;
    --color-label: #4b4b4b;
    --color-text-reading: #000000;
    --color-text-secondary: #a7a7a7;
    --color-body: #f5f5f5;
    --color-primary: #00a5ba;
    --color-primary-dark: #002a4b;
    --color-hover: #35789a;
    --color-primary-2: #00a5ba;
    --color-primary-3: #a0e1e9;
    --color-primary-4: #03708c;
    --color-secondary: #00a8c7;
    --color-secondary-2: #7f9baa;
    --color-secondary-3: #84c4e6;
    --color-font-h3: #a0e1e9;
    --color-font-paths: #35789a;
    --color-detail-h3: #b83687;
    --color-font-h4: #6c99b0;
    --color-detail-h4: #dab129;
    --color-error: #b02614;
    --color-alert: #ff7a08;
    --white: #ffffff;
    --black: #000000;
    --grey: #777777;
    --border-default: #dfdfdf;
    --border-button: #afafaf;
    --border-button-secondary: #00a5ba;
    --background-button-secondary: #f5f5f5;
    --text-button-secondary: #5c7f81;
    --message-alert-icon: #dcc39b;
    --input-border-color: #dbdbdb;
    --progress-bar-color: #9e9e9e;
    --progress-value-color: #13ed41;
    --color-destaque: #00a5ba;
    --color-destaque2: #d6378c;
    --color-destaque3: #2de7ff;
    --color-new-gray: #cecece;
    --color-new-gray2: #e5ebf0;
    --color-new-gray3: #494949;
}

.smc-gpi-painel-lateral {
    h2 {
        color: var(--white);
        font-weight: 100;
    }
}

.smc-gpi-data-fim {
    background-color: var(--color-hover);
}

.smc-gpi-pendencia {
    color: var(--white) !important;

    &:before {
        border-color: transparent transparent transparent var(--color-destaque2) !important;
    }
}

.smc-gpi-lista-oferta {
    p {
        color: var(--white) !important;

        &:before {
            border-color: transparent transparent transparent var(--color-destaque2) !important;
        }
    }
}

//TELAS INTERNAS DO PROCESSO
.smc-gpi-nome-grupooferta {
    color: var(--white);
}

.smc-gpi-processo-passo-atual {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--white), var(--white),"\f101");
}

.smc-gpi-processo-passo-concluido {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--white), var(--white),"\f00c");
}

.smc-barra-progresso {
    p, span {
        color: var(--color-secondary-3);
        color: var(--white) !important;
    }
}

// INSCRIÇÕES NÃO INICIADAS
.smc-gpi-lista-vazia {
    color: var(--color-detail-h4);
}

// SELEÇÃO SEM OFERTA
.smc-gpi-oferta-vazio {
    .oferta-vazio-path {
        fill: var(--color-primary-3);
    }
}

.smc-gpi-img-sem-itens {
    background-image: url(../Images/smc-gpi-sem-itens.png);
}

p-accordion.smc-gpi-orientacoes {
    .p-accordionheader,
    .p-accordionheader,
    .p-accordioncontent,
    .p-accordioncontent-content {
        //background: var(--color-new-gray2) !important;
        color: var(--color-primary-4) !important;
    }
}

///
///Incremento Geral
///
body {
    background-color: var(--white);
}

.smc-aplicaco-logotipo {
    background-image: url('../images/smc-img-logo-interna-ces.svg');

    &:before {
        width: 0px;
    }
}

.smc-gpi-painel-lateral {
    background-color: var(--color-primary-4);
    box-shadow: none;

    h2:before {
        box-shadow: none;
        filter: none;
        border-color: transparent transparent transparent var(--white);
    }
}

.smc-btn-principal {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);

    &:hover {
        border: 1px solid var(--color-primary);
        background-color: var(--white);
        color: var(--color-primary);

        &::after {
            color: var(--color-primary);
        }
    }
}

.smc-gpi-data-inicio {
    background-color: var(--color-primary-4);
    border: 1px solid var(--color-new-gray);
    border-right: 0;

    &::before {
        border-color: transparent transparent transparent var(--color-primary-4);
    }

    p {
        color: var(--white) !important;
    }
}

.smc-gpi-data-fim {
    background-color: var(--color-detail-h3);
    border: 1px solid var(--color-new-gray);
    border-left: 0;

    p {
        color: var(--white) !important;
    }
}

.smc-gpi-usuario, .smc-gpi-nome-usuario,
.smc-gpi-usuario .smc-gpi-nome-usuario,
.smc-barra-progresso p, .smc-barra-progresso span,
.smc-gpi-processo-passo-emaberto span,
.smc-gpi-processo-passo-concluido span, h3,
.smc-btn-usuario, .smc-btn-meudados, .smc-btn-acessibilidade, .smc-ico-meusdados div,
.smc-gpi-data-inicio p, .smc-gpi-data-fim p,
.smc-gpi-lista-oferta p {
    color: var(--color-primary-4);

    &:before {
        height: 0px !important;
        color: var(--color-primary-4);
    }
}

.smc-gpi-processo-passos {

    &:before {
        width: 3px;
        background-color: var(--color-primary);
        margin-left: 1.17em;
    }
}


.smc-gpi-processo-passo-atual {

    span {
        color: var(--color-destaque3); //cor destaque
        font-weight: lighter;

    }

    &:before {
        background-color: var(--color-destaque3);
        color: var(--white);
    }
}

.smc-gpi-processo-passo-emaberto {

    span {
        color: var(--white);
        font-weight: lighter;
    }

    &:before {
        background-color: var(--color-primary-4);
        color: var(--white);
        border: 2px solid var(--color-primary);
    }
}

.smc-gpi-processo-passo-concluido {

    span {
        color: var(--white);
    }

    &:before {
        background-color: var(--color-primary);
        color: var(--white);
    }

    a {
        color: var(--white);
        font-weight: lighter;
    }
}

.smc-gpi-pendencia {
    color: var(--color-new-gray3);

    &:before {
        border-color: transparent transparent transparent var(--color-new-gray3);
    }
}


.smc-gpi-box-conteudo-formulario {
    flex: none !important;
}

//
.smc-gpi-usuario {

    &:before {
        background: var(--color-detail-h4);
        height: 1px !important;
    }
}

//
.stepwizard {
    background-color: var(--white) !important;

    &:before {
        background-color: var(--border-default) !important;
    }
}

//
p.smc-gpi-ingresso-informacao {
    color: var(--white) !important;
}

//
.smc-footer {
    border-top: 1px solid var(--color-detail-h4) !important;
}
.smc-gpi-linha-botoes {
    border-top: 1px solid var(--color-new-gray) !important;
}

//
.smc-detalhe-editavel-blocos .smc-detalhe-editavel-linha-dados-nova {
    background-color: var(--white)!important;
}

//
.smc-gpi-data-formulario {
    background-color: var(--color-primary-4) !important;

    &:before {
        border-color: var(--color-primary-4) transparent !important;
    }
}

//
app-root .cdk-drop-list .cdk-drag .smc-gpi-desc-oferta > span {
    color: var(--black);
}