<?xml version="1.0" encoding="utf-8" ?>
<microsoft.identityModel>
  <service>
    <audienceUris>
      <add value="http://localhost/Dev/GPI.Inscricao" />
      <add value="http://localhost/Dev/GPI.Inscricao/Home/Angular" />
    </audienceUris>
    <federatedAuthentication>
      <wsFederation passiveRedirectEnabled="true" issuer="http://localhost/Dev/SAS.Login4/" realm="http://localhost/Dev/GPI.Inscricao" requireHttps="false" />
      <cookieHandler requireSsl="false" />
    </federatedAuthentication>
    <serviceCertificate>
      <certificateReference x509FindType="FindByThumbprint" findValue="E764522F431A1A1CC04CF8B0ABD371CC37CEA999" storeLocation="LocalMachine" storeName="My" />
    </serviceCertificate>
    <applicationService>
      <claimTypeRequired>
        <claimType type="http://schemas.smc.com.br/ws/2011/02/identity/claims/codigoPessoa" optional="true" />
        <claimType type="http://schemas.smc.com.br/ws/2011/02/identity/claims/email" optional="true" />
        <claimType type="http://schemas.smc.com.br/ws/2011/02/identity/claims/grupo" optional="true" />
        <claimType type="http://schemas.smc.com.br/ws/2011/02/identity/claims/login" optional="true" />
        <claimType type="http://schemas.smc.com.br/ws/2011/02/identity/claims/nome" optional="true" />
      </claimTypeRequired>
    </applicationService>
    <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <trustedIssuers>
        <add thumbprint="7FD18626EE44DB6658DC27FAC9FC2E2CD8F1AFE9" name="http://localhost/Dev/SAS.Login4/" />
      </trustedIssuers>
    </issuerNameRegistry>
    <certificateValidation certificateValidationMode="None" />
    <securityTokenHandlers>
      <remove type="Microsoft.IdentityModel.Tokens.Saml11.Saml11SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add type="Microsoft.IdentityModel.Tokens.Saml11.Saml11SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <samlSecurityTokenRequirement issuerCertificateValidationMode="None" issuerCertificateRevocationMode="Online" issuerCertificateTrustedStoreLocation="LocalMachine" mapToWindows="false" useWindowsTokenService="false">
          <nameClaimType value="http://schemas.smc.com.br/ws/2011/02/identity/claims/login" />
          <roleClaimType value="http://schemas.smc.com.br/ws/2011/02/identity/claims/grupo" />
        </samlSecurityTokenRequirement>
      </add>
    </securityTokenHandlers>
  </service>
</microsoft.identityModel>