<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    <configSections>
        <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="smc.security" type="SMC.Framework.Security.Configuration.SMCSecuritySection, SMC.Framework.Model, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />
        <section name="smc.ioc" type="SMC.Framework.Ioc.Configuration.SMCIocSettingsSection,SMC.Framework.Model, Version=2.0.5.0, Culture=neutral" />
        <section name="smc.cache" type="SMC.Framework.Caching.Configuration.SMCCacheSettingsSection, SMC.Framework.Model, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />
        <section name="smc.browser" type="SMC.Framework.UI.Mvc.Configuration.SMCBrowserRuleSection, SMC.Framework.UI.Mvc, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />
        <section name="smc.google" type="SMC.Framework.Google.Configuration.SMCGoogleSection, SMC.Framework.UI.Mvc, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />
        <section name="smc.content" type="SMC.Framework.Resources.Configuration.SMCContentSection, SMC.Framework.Model, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />
        <!--<section name="smc.reporting" type="SMC.Framework.Reporting.Configuration.SMCReportingSection, SMC.Framework.Model, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />-->
        <section name="smc.logging" type="SMC.Framework.Logging.Configuration.SMCLoggingSection, SMC.Framework.Model, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />


        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <appSettings>

        <!--O Value controla a quantidade de paramentros enviados numa requisição.-->
        <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />


        <!--mvc5-->
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <!-- configura a chamada da classe responsável pela customização das mensagens do Report Viewer -->
        <!--<add key="ReportViewerMessages" value="SMC.Framework.UI.Mvc.Reporting.SMCReportViewerCustomMessages, SMC.Framework.UI.Mvc" />-->
        <!--habilita o fake-->
        <add key="DefaultFake" value="false" />

        <!--PARAMETROS FINANCEIROS-->
        <add key="BaseUrlRest" value="http://localhost:8801/Dev/" />
        <add key="WebApiRestCancellationTime" value="300000" />
        <add key="TokenBoleto" value="zxG*g486kO3Y1fvHcXRJap$HcW$pX$vB" />
        <add key="ApiBoleto" value="true" />

        <add key="EFContext" value="SMC.Inscricoes.EntityRepository.InscricaoContext" />

        <!--URL Integração Acao-->
        <add key="UrlProjetoVinculadoInscricao" value="http://localhost/Acoes.WebApi/api/Acoes/BuscarProjetoVinculadoInscricao" />

        <!-- Configurações para chamadas Sautinsoft-->
        <add key="Sautinsoft" value="http://localhost/Sautinsoft.WebApi/api/" />

    </appSettings>
    <connectionStrings configSource="ConnectionStrings.config" />
    <smc.cache>
        <add key="default" seconds="14400" sliding="true" />
    </smc.cache>
    <!--
  <smc.browser>
    <deny browser="IE" versao="6" anteriores="true" />
  </smc.browser>
  -->
    <smc.google>
        <accounts>
            <account id="GTM-WHSLXD9" />
        </accounts>
    </smc.google>
    <smc.ioc type="SMC.Framework.Unity.SMCUnityContainer, SMC.Framework.Unity">
        <add class="SMC.GPI.Inscricao.Ioc.MvcIocMapping, SMC.GPI.Inscricao" />
    </smc.ioc>
    <smc.security>
        <application name="GPI.Inscricao">
            <authentication mode="SistemaSAS" />
        </application>
    </smc.security>
    <smc.content configSource="SMC.Content.config" />
    <!--<smc.reporting configSource="SMC.Reporting.config" />-->
    <smc.logging>
        <performance enabled="false" />
    </smc.logging>
    <location path="FederationMetadata">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Content">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="INS/GrupoOferta">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="INS/FormularioImpacto">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
    <system.web>
        <globalization culture="pt-br" uiCulture="pt-br" />
        <compilation debug="true" targetFramework="4.7.1">
            <!--<buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>-->
            <buildProviders>
                <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
            </buildProviders>
            <assemblies>
                <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
                <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
            </assemblies>
        </compilation>
        <!--<authorization>
      <deny users="?" />
    </authorization>-->
        <customErrors mode="Off" />
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Optimization" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpModules>
            <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </httpModules>
        <httpRuntime requestValidationType="SMC.Framework.UI.Mvc.Security.SMCFederationRequestValidator, SMC.Framework.UI.Mvc.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
        <authentication mode="None" />
        <!--<httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>-->
        <httpHandlers>
            <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
        </httpHandlers>
    </system.web>

    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="2147483647" />
            </webServices>
        </scripting>
    </system.web.extensions>
    <system.webServer>
        <!-- Início da configurações para compactação de conteúdo estático (css, javascript) -->
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="application/atom+xml" enabled="true" />
                <add mimeType="application/xaml+xml" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <!-- Fim da configurações para compactação de conteúdo estático (css, javascript) -->
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="FormsAuthentication" />
            <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
            <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
        </modules>
        <handlers>




            <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>

        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        </staticContent>
    </system.webServer>
    <microsoft.identityModel configSource="Microsoft.IdentityModel.config" />
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="SMCNetPipeLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="SMCNetTcpLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </netTcpBinding>
            <netMsmqBinding>
                <binding>
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <!-- Endpoint para SMCAuthorize -->
            <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Dev/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" />
            <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Dev/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" />
            <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" address="net.pipe://localhost/Dev/Seguranca/v4/AplicacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IAplicacaoService" />
            <endpoint name="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" address="net.pipe://localhost/Dev/Seguranca/v4/FuncionalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.APL.Interfaces.IFuncionalidadeService" />
            <!-- Segurança para Monitoramento -->
            <endpoint address="net.msmq://localhost/private/smc.seguranca.navegacao" binding="netMsmqBinding" contract="SMC.Framework.Service.Messaging.ISMCMessageQueueService" name="SMC.Seguranca.Monitoramento" />
            <!-- Endpoint para Localidades -->            
            <endpoint name="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" address="net.pipe://localhost/Dev/Localidades/v4/LocalidadeService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Localidades.ServiceContract.Areas.LOC.Interfaces.ILocalidadeService" />            
            <!-- Endpoint para pessoa -->
            <endpoint name="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" address="net.pipe://localhost/Dev/Pessoas/v4/PessoaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Pessoas.ServiceContract.Areas.PES.Interfaces.IPessoaService" />
            <!-- Endpoint para Formulários -->
            <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Dev/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" />
            <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/dev/Formularios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" />
            <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Dev/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" />
            <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Dev/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" />
            <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Dev/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" />
            <!-- Endpoint para DadosMestes -->
            <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" address="net.pipe://localhost/Dev/DadosMestres/v4/TipoDocumentoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.ITipoDocumentoService" />
            <endpoint name="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" address="net.pipe://localhost/Dev/DadosMestres/v4/IntegracaoDadoMestreService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.PES.Interfaces.IIntegracaoDadoMestreService" />
            <!-- Endpoint para Notificação -->
            <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Dev/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" />
            <!-- Serviço para Filtro de dados (SEGURANCA) -->
            <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Dev/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" />
            <!-- Serviço para geração de PDF -->
            <endpoint name="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" address="net.pipe://localhost/Dev/Infraestrutura/v4/PdfService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Infraestrutura.ServiceContract.Areas.PDF.Interfaces.IPdfService" />
            <endpoint name="SMC.Framework.OpenXml.ISMCWorkbookService" address="net.pipe://localhost/Dev/Office/v4/OpenXMLService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.OpenXml.ISMCWorkbookService" />
            <!-- Endpoint para Financeiro -->
            <endpoint name="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" address="net.pipe://localhost/Dev/Financeiro/v4/IntegracaoFinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.ServiceContract.BLT.IIntegracaoFinanceiroService" />
            <endpoint name="SMC.Financeiro.Service.FIN.IFinanceiroService" address="net.pipe://localhost/Dev/Financeiro/v4/FinanceiroService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Financeiro.Service.FIN.IFinanceiroService" />
            <!-- Endpoint para IntegracaoAcademico -->
            <endpoint name="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" address="net.pipe://localhost/Dev/IntegracaoAcademico/v4/IntegracaoAcademicoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.IntegracaoAcademico.ServiceContract.Areas.IAC.Interfaces.IIntegracaoAcademicoService" />

            <!-- Adicionado para funcionar no HeathCheck Completo (isso porque o Administrativo compartilha o IoC com o Inscricao)  -->
            <endpoint name="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" address="net.pipe://localhost/Dev/EstruturaOrganizacional/v4/EstruturaOrganizacionalService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.EstruturaOrganizacional.ServiceContract.Areas.ESO.Interfaces.IEstruturaOrganizacionalService" />
            <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" address="net.pipe://localhost/Dev/Formularios/v4/PaginaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" />
            <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" address="net.pipe://localhost/Dev/Formularios/v4/TipoTemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITipoTemplateProcessoService" />
            <endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" address="net.pipe://localhost/Dev/DadosMestres/v4/ContextoBibliotecaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" />
            <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IElementoService" address="net.pipe://localhost/Dev/Formularios/v4/ElementoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IElementoService" />

        </client>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.6.0" newVersion="5.8.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Dapper.StrongName" publicKeyToken="e3e8412083d25dd3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <!--<system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>-->
</configuration>