.smc-ribbon {
    background-image: url('../../AulaoRedacao2025/Images/smc-img-detalhe-ondas.png');
    background-color: var(--color-header);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(212,212,212,0.4);
    -moz-box-shadow: 0px 1px 5px 0px rgba(212,212,212,0.4);
    box-shadow: 0px 1px 5px 0px rgba(212,212,212,0.4);
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 23px 0px;

    @media screen and (max-width: 410px) {
        background-image: none;
    }
}


.smc-aplicaco-logotipo {
    width: 19.8em;
    margin-top: -0.15em;
    background-image: url('../../AulaoRedacao2025/Images/smc-logo-aulao-redacao-2025.png'),url('../../AulaoRedacao2025/Images/smc-logo-puc.svg');
    height: 5.24em;
    background-size: 36%, 22%;
    background-position: 71px, right;

    &::before {
        content: "";
        width: 0px;
        height: 80%;
        background-color: var(--white);
        margin-left: 200px;
        margin-top: 8px;
    }

    @media screen and (max-width: 410px) {
        background-size: 95px, 60px;
        background-position: 1px, 170px;

        &:before {
            margin-left: 70%;
        }
    }
}


.smc-gpi-usuario {
    &:before {
        background-color: var(--grey);
    }

    .smc-gpi-nome-usuario {
        color: var(--grey);
    }

    .smc-btn-usuario,
    .smc-btn-meudados,
    .smc-btn-acessibilidade {
        &:before {
            color: var(--grey);
        }
    }

    .smc-ico-meusdados {
        div:before {
            color: var(--grey);
        }


        @media screen and (max-width: 410px) {

            div {
                margin-right: 0;
            }
        }
    }
}

.smc-gpi-usuario:before {
    display:none;
}

.dropdown-menu {
    background-color: var(--color-body) !important;

    .user-footer ul .smc-btn-custom {
        &:hover {
            border: 1px solid var(--color-secondary);
            background-color: var(--white);
            color: var(--color-secondary);
        }
    }
}
