<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="InscricaoContext" connectionString="data source=GTIDBSQLDES01\PROD;initial catalog=INSCRICAO;user id=inscricao;password=Abs1nto1453;
    MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  
</connectionStrings>