<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="smc.ioc" type="SMC.Framework.Ioc.Configuration.SMCIocSettingsSection,SMC.Framework.Model, Version=2.0.5.0, Culture=neutral" />
    <section name="smc.security" type="SMC.Framework.Security.Configuration.SMCSecuritySection, SMC.Framework.Model, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />
    <section name="smc.logging" type="SMC.Framework.Logging.Configuration.SMCLoggingSection, SMC.Framework.Model, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.transactions>
    <defaultSettings timeout="00:05:00" />
  </system.transactions>
  <appSettings>
    <add key="ioc" value="SMC.Framework.Unity.SMCUnityContainer, SMC.Framework.Unity" />

    <add key="EFContext" value="SMC.Inscricoes.EntityRepository.InscricaoContext" />
    
    
  </appSettings>
  <smc.ioc>
    <!--services-->
    <add class="SMC.Inscricoes.ServiceHost.Ioc.ServiceHostIocMapping, SMC.Inscricoes.ServiceHost" />
    <!--repositories-->
    <add class="SMC.Inscricoes.EntityRepository.Ioc.EntityIocMapping, SMC.Inscricoes.EntityRepository" />
    <!--framework-->
    <add class="SMC.Framework.Logging.SMCIocWindowsEventLogger, SMC.Framework.Model" />
  </smc.ioc>
  <smc.security>
    <application name="GPI.Administrativo" />
  </smc.security>
  <smc.logging>
    <performance enabled="false" />
  </smc.logging>
  <connectionStrings configSource="ConnectionStrings.config" />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
    <bindings>
      <netNamedPipeBinding>
        <binding name="SMCNetPipeLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="SMCNetTcpLarge" closeTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <clear />
      <service name="SMC.Framework.Service.DataFilters.SMCDataFilterProviderService">
        <endpoint binding="netNamedPipeBinding" bindingNamespace="http://smc.com.br/binding" contract="SMC.Framework.DataFilters.ISMCDataFilterProviderService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMC.Inscricoes.Service.Areas.INS.Services.ProcessoService">
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" bindingNamespace="http://smc.com.br/binding" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IProcessoService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMC.Inscricoes.Service.Areas.INS.Services.IntegracaoService">
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" bindingNamespace="http://smc.com.br/binding" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IIntegracaoService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMC.Inscricoes.Service.Areas.INS.Services.InscricaoService">
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" bindingNamespace="http://smc.com.br/binding" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMC.Inscricoes.Service.Areas.INS.Services.InscricaoOfertaHistoricoSituacaoService">
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" bindingNamespace="http://smc.com.br/binding" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IInscricaoOfertaHistoricoSituacaoService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMC.Inscricoes.Service.Areas.INS.Services.HierarquiaOfertaService">
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" bindingNamespace="http://smc.com.br/binding" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IHierarquiaOfertaService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
      <service name="SMC.Inscricoes.Service.Areas.INS.Services.ItemHierarquiaOfertaService">
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" bindingNamespace="http://smc.com.br/binding" contract="SMC.Inscricoes.ServiceContract.Areas.INS.Interfaces.IItemHierarquiaOfertaService" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
		<!-- Endpoint para DadosMestes -->
		<endpoint name="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" address="net.pipe://localhost/Dev/DadosMestres/v4/ContextoBibliotecaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.DadosMestres.ServiceContract.Areas.GED.Interfaces.IContextoBibliotecaService" />
      <!-- Serviço para o SAS -->
      <endpoint name="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" address="net.pipe://localhost/Dev/Seguranca/v4/UsuarioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Seguranca.ServiceContract.Areas.USU.Interfaces.IUsuarioService" />
      <!-- Serviço para Filtro de dados (SEGURANCA) -->
      <endpoint name="SMC.Framework.DataFilters.ISMCDataFilterService" address="net.pipe://localhost/Dev/Seguranca/v4/DataFilterService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.DataFilters.ISMCDataFilterService" />
      <!-- Segurança para SMCAuthorize -->
      <endpoint name="SMC.Framework.Security.ISMCAuthorizationService" address="net.pipe://localhost/Dev/Seguranca/v4/AutorizacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Framework.Security.ISMCAuthorizationService" />
      <!-- Endpoint para Formularios -->
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" address="net.pipe://localhost/Dev/Formularios/v4/FormularioService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IFormularioService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" address="net.pipe://localhost/dev/Formularios/v4/UnidadeResponsavelService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.FRM.Interfaces.IUnidadeResponsavelService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" address="net.pipe://localhost/Dev/Formularios/v4/EtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IEtapaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService" address="net.pipe://localhost/Dev/Formularios/v4/SituacaoEtapaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoEtapaService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" address="net.pipe://localhost/Dev/Formularios/v4/SituacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ISituacaoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" address="net.pipe://localhost/Dev/Formularios/v4/TemplateProcessoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.ITemplateProcessoService" />
      <endpoint name="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" address="net.pipe://localhost/Dev/Formularios/v4/PaginaService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Formularios.ServiceContract.Areas.TMP.Interfaces.IPaginaService" />
      <!-- Endpoint para Notificações -->
      <endpoint name="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" address="net.pipe://localhost/Dev/Notificacoes/v4/NotificacaoService.svc" binding="netNamedPipeBinding" bindingConfiguration="SMCNetPipeLarge" contract="SMC.Notificacoes.ServiceContract.Areas.NTF.Interfaces.INotificacaoService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.5.0" newVersion="5.5.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Dapper.StrongName" publicKeyToken="e3e8412083d25dd3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>