// FOOTER
.smc-footer {
    background-color: var(--white);
    padding: 1.42em 3.92em 0.85em 3.92em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.smc-footer-logo-gti {
    width: 5em;
    background-image: url('../Images/smc-logo-gti-cinza.svg');
    height: 2.14em;
    background-repeat:no-repeat;
    background-position:right center;
}

.smc-footer-copyright {
    margin: 0 0 0 0.21em;
    color: var(--grey);
    font-size: 0.8rem;

    p {
        color: var(--grey);
        margin-top: 0;
        font-size: 0.8em;
    }
}
