@mixin box-data {
    flex: 1 50%;
    position: relative;

    .smc-gpi-texto-data {
        font-size: 0.8em;
        margin-bottom: -0.2em;
    }

    .smc-gpi-inscricoes-periodo {
        font-size: 1.7em;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;

        @media screen and ("max-width: 992px") {
            font-size: 1.4em;
        }
    }

    p {
        color: var(--white);
        text-align: center
    }
}

//PASSOS DOS PROCESSO
@mixin passos-processo($color-border,$color-background,$color-text,$color-icon,$icon) {
    font-family: var(--fa-font);
    display: flex;
    margin-bottom: 0.71em;
    z-index: 1;

    &:before {
        content: $icon;
        width: 2.14em;
        height: 2.14em;
        border-radius: 50px;
        margin-right: 0.41em;
        border: 1px solid $color-border;
        background-color: $color-background;
        color: $color-icon;
        align-items: center;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 400px) {
            width: 1.74em;
            height: 1.74em;
        }
    }

    span {
        color: $color-text;
        text-transform: uppercase;
        font-size: 1em;
        padding-top: 0.42em;
        width: 80%;
        font-weight: 600;
    }

    a {
        color: $color-text;
        text-transform: uppercase;
        font-size: 1em;
        padding-top: 0.42em;
        width: 80%;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
        text-decoration: none;
    }
}

//TAGS INGRESSOS
@mixin configura-tag {
    border-radius: 50px;
    border: 1px solid;
    padding: 0 0.5rem;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    @media screen and (max-width: 992px) {
        right: 1.5rem;
        top: 1rem;
        left: auto;
    }

    p {
        margin: 0;
        font-size: 0.8rem;
    }
}

@mixin tag-atividade($situacao,$cor-borda,$cor-fonte,$cor-background) {
    .smc-gpi-tag-atividade-#{$situacao} {
        @include configura-tag;

        @if $situacao == falta {
            border-color: $cor-borda;
            background-color: $cor-background;

            p {
                color: $cor-fonte;
            }
        }
        @else if $situacao == andamento {
            border-color: $cor-borda;
            background: linear-gradient(273deg, #3cb495, #1ea12e, #13ffc0);

            p {
                color: $cor-fonte;
            }
        }
        @else if $situacao == encerrada {
            border-color: $cor-borda;
            background-color: $cor-background;

            p {
                color: $cor-fonte;
            }
        }
    }
}