@import "Componentes/buttons";
@import "Componentes/form";
@import "Componentes/header";
@import "Componentes/wizard";

:root {
    --color-text: #333333;
    --color-label: #4b4b4b;
    --color-text-reading: #000000;
    --color-text-secondary: #a7a7a7;
    --color-body: #ffffff;
    --color-primary: #2c438e;
    --color-primary-dark: #041751;
    --color-hover: #8c3685;
    --color-primary-2: #8c3685;
    --color-primary-3: #dddb00;
    --color-secondary: #8c3685;
    --color-secondary-2: #2a97d6;
    --color-secondary-3: #84c4e6;
    --color-secondary-4: #1e357c;
    --color-secondary-5: #b8cdd9;
    --color-font-h3: #2a97d6;
    --color-font-paths: #2c438e;
    --color-detail-h3: #2a97d6;
    --color-font-h4: #2a97d6;
    --color-detail-h4: #2a97d6;
    --color-error: #b02614;
    --color-alert: #ff7a08;
    --white: #ffffff;
    --black: #000000;
    --grey: #777777;
    --light-grey: #c3c3c3;
    --border-default: #dfdfdf;
    --border-button: #afafaf;
    --border-button-secondary: #8c3685;
    --background-button-secondary: #f5f5f5;
    --text-button-secondary: #5c7f81;
    --message-alert-icon: #dcc39b;
    --input-border-color: #dbdbdb;
    --progress-bar-color: #9e9e9e;
    --progress-value-color: #28a342;
}

.smc-gpi-painel-lateral {
    h2 {
        color: var(--color-primary);
        font-weight: 600;
    }
}

.smc-gpi-data-fim {
    background-color: var(--color-secondary-2);
}

.smc-gpi-pendencia {
    color: var(--color-text);
    font-weight: 600;

    &:before {
        border-color: transparent transparent transparent var(--color-primary-2);
    }
}

.smc-gpi-lista-oferta {
    p {
        color: var(--color-text);
        font-weight: 600;

        &:before {
            border-color: transparent transparent transparent var(--color-font-paths);
        }
    }
}
//TELAS INTERNAS DO PROCESSO
.smc-gpi-nome-grupooferta {
    color: var(--color-primary-2);
    font-weight: 600;
}

.smc-gpi-processo-passo-atual {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--color-font-paths), var(--white),"\f101");
}

.smc-gpi-processo-passo-concluido {
    @include passos-processo(var(--color-font-paths), var(--color-font-paths), var(--color-font-paths), var(--white),"\f00c");
}

.smc-barra-progresso {
    p, span {
        color: var(--color-text);
        font-weight: 600;
    }
}

// INSCRIÇÕES NÃO INICIADAS
.smc-gpi-lista-vazia {
    color: var(--color-primary);
}

// SELEÇÃO SEM OFERTA
.smc-gpi-oferta-vazio {
    .oferta-vazio-path {
        fill: var(--color-primary-2);
    }
}

.smc-gpi-img-sem-itens {
    background-image: url(../Images/smc-gpi-sem-itens.png);
}
